:root{
     --defalt-color:#e4e5f1 ;
      --nav-color:#e6e6e6;
    --gray-color:#7d7d7d ;
    --red-color:#9d1010 ;
    --yellow-color:#e3d62c ;
    --green-color:#227137 ;
    --white-color-text:#14151d;
    --white-color-after:#ffffff;
     --white-color-icon:#101010;
     --box-color-after-write:#000000;
      --modal-color:#e7e7e7;
    --back-shapes-color:#c8c8c8;
     --statics-color:#0f7b52;
}

    



